<footer class="footer d-flex justify-content-center py-3 bg-dark">
    <div class="  ">
      <a href="https://www.facebook.com/fidel.huarcayapoma" class="btn text-white"><i class="ace-icon fab fa-youtube" ></i></a>
      <a href="https://www.facebook.com/fidel.huarcayapoma" class="btn text-white"><i class="ace-icon fab fa-facebook-f"></i></a>
      <a href="https://www.facebook.com/fidel.huarcayapoma" class="btn text-white"><i class="ace-icon fab fa-twitter"></i></a>
      <a href="https://www.facebook.com/fidel.huarcayapoma" class="btn text-white"><i class="ace-icon fab fa-instagram"></i></a>
    </div>
</footer>