<link rel="stylesheet" [href]="sanitizer.bypassSecurityTrustResourceUrl(cssUrl)">
<div class="container margin-g">
    <div class="card margin-xy">
        <div class="card-header" style="background-color: #1F618D;color: #fff;">
            <h3 class="py-2">Agregar mascota <i class="fas fa-paw"></i></h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-7">
                    <form [formGroup]="form" (ngSubmit)="savePets()" class="pt-3">
                        <div class="mb-3 row">
                            <div class="col-md-6">
                                <label class="form-label" >Nombre de mascota</label>
                                <input type="text" class="form-control" formControlName="nombre" name="nombre">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Especie</label>
                                <input type="text" class="form-control" formControlName="especie" name="especie">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="col-md-6">
                                <label class="form-label" >Fecha de nacimiento</label>
                                <input type="text" class="form-control" placeholder="dd/mm/aaaa" formControlName="fechaNacimiento" name="fecha" >
                            </div>
                            <div class="col-md-6">
                                <label for="sexoSelect" class="form-label">Sexo</label>
                                <select id="sexoSelect" class="form-select" formControlName="sexo">
                                    <option selected disabled value=""></option>
                                    <option value="M">Macho</option>
                                    <option value="H">Hembra</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Imagen</label>
                            <input type="text" class="form-control" formControlName="imagen" name="imagen">
                        </div>
                        <div style="display: flex;justify-content: center;">
                            <button  class="btn btn-azul mt-2" style="padding: 10px 30px;" type="submit">Registrar</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-5">
                    <img src="../../../../assets/img/icon_dog.svg" alt="dog" width="100%" class="img_dog">
                </div>

            </div>
        </div>
    </div>
</div>
