*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: "Catamaran",sans-serif;
}

.site-principal{
    background: url("../../../assets/img/fondo.jpg");
    background-position:center center ;
    background-size: cover;
    width: 100%;
    height: 100vh ;
}
.texto-header{
    position: absolute;
    top: 22%;
    width: 40%;
    left:50px;
}
.text1{
    font-weight: 300;
    font-size: 18px;
}
.text2,.section-title h2{
    font-weight: 700;
    font-size: 39px;
}

@media(max-width:760px){
    .text2{
        font-size: 20px
    }
}